body::-webkit-scrollbar {
    display: none;
}

body {
    color: wheat;
    background-color: #000011;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: .5in;
}

.title {
    color: gold;
    margin-left: -.25in;
}

.broken {
    color: red;
}

.issue {
    color: rgb(255, 255, 62);
}

.working {
    color: rgb(44, 242, 44);
}

.header {
    color: white;
    position: relative;
    margin-left: -.25in;
}

.link {
    color: rgb(0, 157, 255);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    color: white;
    position: relative;
}